/* ------页首------ */
header {
  background: #337ab7;
  padding: 30px 20px;
}

header h1 {
  margin: 0;
  color: white;
}

.list {
  border-radius: 0;
  padding-right: 80px;
}

.list .list-header a {
  font-size: 25px;
  font-weight: bold;
}

.list .list-item a {
  font-size: 20px;
  font-weight: bold;
  color: black;
  transition: .5s;
}

.list .list-item,
.list .list-header {
  padding: 10px;
}

.list .list-item {
  padding-left: 50px;
}
/* ------页首END------ */

/* ------主内容------ */

.main {
  padding:0;
}

.content {
  padding: 0 30px;
}

#myCarousel {
  margin-bottom: 50px;
}

.left-part1 {
  margin-bottom: 50px;
}

.left-part1 img {
  width: 100%;
}



.left-part1 ul {
  padding-left: 10px;
}

.left-part2 .list-left img {
  width: 100%;
}

.left-part2 ul {
  padding-left: 10px;
}

.left-part1 .list-item ,
.left-part2 .list-item {
  padding: 10px 0;
  border-bottom: 1px dashed #bdc3c7;
  list-style-type: none;
}

.left-part1 .list-item a ,
.left-part2 .list-item a {
  color: black;
  font-size: 18px;
}

.left-part1 h1,
.left-part2 h1 {
  margin-bottom: 20px;
}

.right-part1 .font-pic {
  display: inline-block;
  text-align: center;
  border: 2px solid #34495e;
  border-radius: 8px;
  color: black;
  padding: 2px;
}

.right-part1 .font-pic p {
  border-top: 1px solid #7f8c8d;
  padding-top: 3px;
}

.right-part1 .font-pic p:first-child {
  border-top: 0;
}

.right-part1 .list-item .left {
  text-align: center;
}

.right-part1 .list-item .right {
  padding-left: 0px;
}

.right-page .list-item{
  list-style-type: none;
  padding: 10px 0;
}

.right-page .list-item a {
  color: black;
  font-size: 17px;
}

.right-page .list-item .list-second-content {
  color: #95a5a6;
}

/* ------主内容END------ */


/* ------页脚------ */
footer {
  margin-top: 50px;
  background: #337ab7;
}
footer p {
  margin-bottom: 0;
  padding: 10px;
  color: white;
}
/* ------页脚END------ */
